/*Overall look*/
:root{
    --main-color: rgba(251,186,0,255);
  }
* {
    padding: 0px;
    margin: 0;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;

}

p,
h1,
h2,
h3 {
    margin-bottom: 10px;
}

h1 {
    letter-spacing: 0.5ch;
}

img {
    max-width: 90%;
    display: block;
}

/*navbar*/
nav {
    grid-area: nav;
}

nav a {
    display: block;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    background-color: white;
    color: black;
}

nav a:hover {
    background-color: var(--main-color);
    color: #000;
}

nav ul {
    display: none;
}

nav li {
    list-style: none;
    flex-basis: 100%;
}

.logo {
    display: flex;
    padding: 25px;
    height: 10px;
    margin-left: 15px;
    background-image: url("/images/logo.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

.labelLook {
    background-color: white;
    display: block;
    color: black;
    font-size: 2rem;
    padding: 10px;
    position: fixed;
    top: 0px;
    right: 0px;
}

#toggleNav {
    display: none;
}

#toggleNav:checked~ul {
    display: flex;
    position: fixed;
    top: 59px;
    left: 0px;
    width: 100%;
    flex-wrap: wrap;
}

.navContainer {
	background-color: white;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

/*hero*/
header {
    background-image: url("/images/festivalplaceholder.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: head;
    display: grid;
    height: 60vh;
    place-content: center;
    margin-bottom: 20px;
}

.headerTitle {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

/*main content*/

footer {
    background-color: lightgray;
    color: black;
    padding: 35px;
    text-align: center;
    grid-area: foot;
}

.card {
    place-items: center;
    text-align: center;
    border: solid 1px;
    margin: 20px;
}

.card img {
    display: inline-block;
    margin-bottom: 5%;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
}

.cardContainer {
    display: block;
    margin: 10px;
    grid-area: c;
}

.cardText {
    padding: 10px;
}

.c1 {
    grid-area: c1;
}
.c2 {
    grid-area: c2;
}
.c3 {
    grid-area: c3;
}
/*miscellaneous*/

.title {
    text-align: center;
}

.bodyImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.bodyText {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.yellowUnderline{
    text-decoration: underline var(--main-color);
    text-decoration-thickness: 4px;
    text-underline-offset: 5px;
    margin-bottom: 20px;
}

.yellowButton{
    background-color: var(--main-color);
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

.social{
    color: black;
    padding: 15px;
    font-size: 26px;
}

.icon{
    color: black;
    padding: 15px;
    font-size: 20px;
}


@media screen and (min-width: 90ch) {

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "nav nav nav"
            "head head head"
            "c c c"
            "foot foot foot";
    }

    .cardContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "c1 c2 c3"
    }


    body {
        font-size: 18px;
    }

    .navContainer {
        display: flex;
        flex-wrap: nowrap;
        z-index: 999;
    }

    nav ul {
        display: flex;
        flex-wrap: nowrap;
        position: static;
    }

    nav li {
        flex: auto;
    }

    .logo {
        display: flex;
        height: 10px;
        width: auto;
        margin-left: 15px;
        background-image: url("/images/logo.png");
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    header {
        margin-bottom: 1.5em;
    }

    .social {
        flex: 1;
    }

    .labelLook {
        display: none;
    }

    .t1 {
        visibility: hidden;
        position: relative;
    }
    
    .t1:after {
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        content: "Experience the Galway International Arts Festival";
        z-index: 1;
    }
}