/*Overall look*/
:root{
    --main-color: rgba(251,186,0,255);
  }
* {
    padding: 0px;
    margin: 0;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

p,
h1,
h2,
h3 {
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    display: block;
}

/*navbar*/
nav {
    grid-area: nav;
}

nav a {
    display: block;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    background-color: white;
    color: black;
}

nav a:hover {
    background-color: var(--main-color);
    color: #000;
}

nav ul {
    display: none;
}

nav li {
    list-style: none;
    flex-basis: 100%;
}

.logo {
    display: flex;
    padding: 25px;
    height: 10px;
    margin-left: 15px;
    background-image: url("/images/logo.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

.labelLook {
    background-color: white;
    display: block;
    color: black;
    font-size: 2rem;
    padding: 10px;
    position: fixed;
    top: 0px;
    right: 0px;
}

#toggleNav {
    display: none;
}

#toggleNav:checked~ul {
    display: flex;
    position: fixed;
    top: 59px;
    left: 0px;
    width: 100%;
    flex-wrap: wrap;
}

.navContainer {
	background-color: white;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

/*hero*/
header {
    background-image: url("/images/festivalplaceholder.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: head;
    display: grid;
    height: 100vh;
    place-content: center;
    margin-bottom: 20px;
}

.headerTitle {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

/*main content*/
.aside {
    padding: 1em;
}

.article {
    padding: 1em;
}

.art1 {
    grid-area: art1;
}
.as1 {
    grid-area: as1;
}
.art2 {
    grid-area: art2;
}
.as2 {
    grid-area: as2;
}
.art3 {
    grid-area: art3;
}
.as3 {
    grid-area: as3;
}
.art4 {
    grid-area: art4;
}
.as4 {
    grid-area: as4;
}
.art5 {
    grid-area: art5;
}
.as5 {
    grid-area: as5;
}

.t1 {
    grid-area: t1;
}
.t2 {
    grid-area: t2;
}
.t3 {
    grid-area: t3;
}

footer {
    background-color: lightgray;
    color: black;
    padding: 35px;
    text-align: center;
    grid-area: foot;
}

/*miscellaneous*/

.title {
    text-align: center;
}

.bodyImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.bodyText {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.yellowUnderline{
    text-decoration: underline var(--main-color);
    text-decoration-thickness: 4px;
    text-underline-offset: 5px;
    margin-bottom: 20px;
}

.yellowButton{
    background-color: var(--main-color);
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

.heroButton {
    margin-top: 10%;
}

.social{
    color: black;
    padding: 15px;
    font-size: 26px;
}

.icon{
    color: black;
    padding: 15px;
    font-size: 20px;
}

.pFooter {
    margin-bottom: 0px;
}

.partnerGrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 25px;
    row-gap: 20px;
    column-gap: 30px;
}

.partnerImage {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.partners {
    margin: 40px;
    grid-area: partners;
}

.partners h2 {
    text-align: center;
}



@media screen and (min-width: 90ch) {

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "nav nav"
            "head head"
            "t1 t1"
            "as1 art1"
            "art2 as2"
            "as3 art3"
            "t2 t2"
            "art4 as4"
            "t3 t3"
            "as5 art5"
            "partners partners"
            "foot foot";
    }

    .navContainer {
        display: flex;
        flex-wrap: nowrap;
    }

    nav ul {
        display: flex;
        flex-wrap: nowrap;
        position: static;
    }

    nav li {
        flex: auto;
    }

    .logo {
        display: flex;
        height: 10px;
        width: auto;
        margin-left: 15px;
        background-image: url("/images/logo.png");
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .aside {
        padding: 2em;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    
    .article {
        padding: 2em;
    }
    
    header {
        margin-bottom: 1.5em;
    }

    .social {
        flex: 1;
    }

    .labelLook {
        display: none;
    }

    .partnerImage {
        max-width: 60%;
    }

    .t1 {
        visibility: hidden;
        position: relative;
    }
    
    .t1:after {
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        content: "Experience the Galway International Arts Festival";
    }
}